body{
  background-image: url('images/lakeunion.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

header {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  font-style: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(196, 195, 175, 0.3);
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 85px;
}

p {
  font-style: Helvetica;
  font-size: 30px;
}


#landing {
/*  display: flex;
  justify-content: center;
  align-items: center;*/
  display: flex;
  flex-direction: column;
/*  justify-content: center;
*/  height: 600px;
  width: 100%;
  /*background-size: 1200px 1000px;*/
}

#words{
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  color: white;
  height: 60%;
  width: 60%;
  /*border: red 2px solid;*/
}

#arrow{
  display: flex;
   height: 50px;
  width: 120px;
  margin: auto;
  color: white;
  /*border: red 2px dotted;*/
}

.logo{
  display: flex;
}

.nav{
  display: inline;
  margin: 10px;
  margin-right: 25px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.hoodTitle {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

#logoImage {
  height: 100px;
  width: 100px;
}
