* {
  font-family: 'Dancing Script', cursive;
}

body{
  background-image: url('backgroundImages/seattleAir.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

img {
  height: 50px;
  width: 50px;
}

header {
  font-size: 25px;
  font-style: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(196, 195, 175, 0.3);
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  max-height: 85px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

address {
  margin: 15px;
  font-size: 16px;
}

.logo{
  display: flex;
}

.nav{
  display: inline;
  margin: 10px;
  margin-right: 25px;
}

.hoodTitle{
  margin-top: 50px;
}

.cost {
  margin-top: 110px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
}

.cost input {
  margin-top: 110px;
  margin: 7px;
}

.cost label {
  margin-top: 110px;
  margin: 7px;
}

.costTitle {
  margin-top: 110px;
  margin: 10px;
}

#bigTable {
  height: 800px;
  display: flex;
  justify-content: center;
}

#showResults {

  max-height: 600px;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
  background-color:rgba(0, 0, 0, .25);
}

#showResults img{
  height: 150px;
  width: 150px;
}

#showResults p{
  margin: 10px;
}

#showResults p a{
  text-decoration: none;
  color: #26FF20;
}

#whoaResults {
  max-height: 500px;
  max-width: 1100px;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color:rgba(0, 0, 0, .25);
}

#whoaResults img{
  height: 150px;
  width: 150px;
}

#whoaResults p{
  margin: 10px;
}

#whoaResults p a {
  text-decoration: none;
  color: #26FF20;
}


.locations li{
  display: inline-block;
  float: left;
  width: 20%;
}

.imagesHoods{
  display:block;
  float: left;
  height:150px;
  width:150px;
}

.button{
  border: solid black 1px;
  margin-left: 40px;
  margin-top: 20px;
  opacity: 0.75;
}

.hoodTitle {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

#logoImage {
  height: 100px;
  width: 100px;
}
