/*
this css will be for the top of the page. It will include very brief instructions
(in large which Helvetica) for the user which are framed in front of a background
photo of Seattle.
Once the user starts scrolling down, an event listener is called and the navigation bar appears and lets a user return home, or go to another page of the site.
Below the main section is the actual program to let a user select a neighborhood
and view attractions.
*/

/*#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-image: url('images/closeup2.jpg');
  background-repeat: no-repeat;
  background-position: center;

}
#words {

  font: 38px Helvetica;
  color: black;
  height: 50%;
  width: 70%;
}

/*#frame {

  height: 300px;
  width: 100%;

}*/

/*img {
  height: 50px;
  width: 50px;
}

#bigTable {
  height: 800px;
}

#showResults {

  height: 600px;
  overflow: scroll;


}*/

body{
  background-image: url('backgroundImages/seattleAir.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}
header {
  border: black solid 1px;
  font-size: 25px;
  font-style: bold;

}

nav{
  float: right;
}

.nav a{
  color: #EDF7FA;
  text-decoration: none;
  opacity: 0.85;
}

.locations li{
  display: inline-block;
  float: left;
  width: 20%;
}

/*.formWrapper{
  display: inline-block;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.85;
  filter: alpha(opacity=85);
}*/

.imagesHoods{
  display:block;
  float: left;
  height:150px;
  width:150px;
}

.button{
  border: solid black 1px;
  margin-left: 40px;
  margin-top: 20px;
  opacity: 0.75;
}



